body {
    background-color: #EAF6f7;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #66BFbF;
}

h3 {
    color: #66BFbF;
}
